html, html a {
    -webkit-font-smoothing: antialiased !important;

}

body {
    --main-bg-color:#2B2A2E;
    --light-font-color:#DAD8EB;
    --dark-font-color:#2B2A2E;
    --main-border-color:#DAD8EB;
    --main-font:'Teko', sans-serif;

    background-color: transparent;
    margin: 0;
    font-family: var(--main-font);
    color: var(--main-bg-color);
    font-size: 24px;
    /* text-shadow: 2px 2px 1px #000; /*
    /*overflow: hidden;*/
}

@font-face {
    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 400;
    src: local('Agency FB'), local('AgencyFB-Regular'),
    url(../fonts/agency-fb_0b9596562659a0772f5e24c22cae921b.woff) format('woff'),
    url(../fonts/agency-fb_0b9596562659a0772f5e24c22cae921b.ttf) format('truetype');
}

@font-face {
    font-family: 'Agency FB Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Agency FB Bold'), local('AgencyFB-Bold'),
    url(../fonts/agency-fb-bold_cee84847c4ab16cf2b0952d063712724.woff) format('woff'),
    url(../fonts/agency-fb-bold_cee84847c4ab16cf2b0952d063712724.ttf) format('truetype');
}
/* TESTING */
div {
    border: 0px solid red;
}

.container {
    width: 1920px;
    height: 1080px;
    display: block;
    background: url("../img/overlay.svg") no-repeat;
}

/* SOCIAL MEDIA */

.social-media{
    position: absolute;
    top: 14px;
    left: 156px;
    color: var(--light-font-color);
}

/* SPOTIFY */

.spotify {
    position: absolute;
    top: 14px;
    left: 1567px;
    height: 42px;
    width: 222px;
    white-space: nowrap;
    max-width: 100%; /* 1 */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important; /* 2 */
    padding-right:0px;
}

.artist{
    position: absolute;
    top: -27px;
    left:0px;
    font-size: 20px;
    font-weight: 300;
    color: var(--light-font-color);
}

.songname{
    position: absolute;
    top:-7px;
    left:0px;
    color: var(--light-font-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    white-space: nowrap;
    max-width: 100%; /* 1 */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important; /* 2 */
}

/* ChronoUP */

.live-for {
    position: absolute;
    top: 14px;
    left: 1846px;
    text-align: right;
    width: 61px;
    color:var(--light-font-color);


}

/*-----------------------BOTTOM DIV FONT AND COLOR SETTINGS-----------------------*/

/*GLOBAL BOTTOM TEXT LEFT*/

.span-bottom-text-left {
    font-size:26px;
    font-weight:300;
    position: absolute;
    top: 3px;
    left: 12px;
}

.bottom-value-left{
    font-size:30px;
    font-weight:500;
    position: absolute;
    left:12px;
    top:-26px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;

}

/*GLOBAL BOTTOM TEXT RIGHT*/

.span-bottom-text-right {
    font-size:26px;
    font-weight:300;
    position: absolute;
    top: 3px;
    right: 12px;

}

.bottom-value-right{
    font-size:30px;
    font-weight:500;
    position: absolute;
    right:12px;
    top:-22px;

}

/*-----------------------BOTTOM DIV POSITON SETTINGS-----------------------*/

/* LATEST DONATIONS */

.donation {
    position: absolute;
    top: 990px;
    left: 588px;
    height: 24px;
    width: 288px;
}

.donation-value-div{
    position: absolute;
    top: 1020px;
    left: 588px;
    height: 48px;
    width: 288px;
}

/*TOP DONATION*/

.top-donation {
    position: absolute;
    top: 990px;
    left: 888px;
    height: 24px;
    width: 288px;
}

.top-donation-value-div{
    position: absolute;
    top: 1020px;
    left: 888px;
    height: 48px;
    width: 288px;
}

/* LATEST SUBSCRIBER*/

.subscriber {
    position: absolute;
    top: 990px;
    left: 1188px;
    height: 24px;
    width: 288px;
}

.subscriber-value-div{
    position: absolute;
    top: 1020px;
    left: 1188px;
    height: 48px;
    width: 288px;
}

/* BUY-INS */

.buyins {
    position: absolute;
    top: 990px;
    left: 1488px;
    height: 24px;
    width: 132px;
}

.buyins-value-div{
    position: absolute;
    top: 1020px;
    left: 1488px;
    height: 48px;
    width: 132px;
}

/* CASHES */

.cashes {
    position: absolute;
    top: 990px;
    left: 1632px;
    height: 24px;
    width: 132px;
}

.cashes-value-div{
    position: absolute;
    top: 1020px;
    left: 1632px;
    height: 48px;
    width: 132px;
}

/* PROFIT */

.profit {
    position: absolute;
    top: 990px;
    left: 1776px;
    height: 24px;
    width: 132px;
}

.profit-value-div{
    position: absolute;
    top: 1020px;
    left: 1776px;
    height: 48px;
    width: 132px;
}

