@import url("global.css");

/* CONTAINERS */

.container {
    width: 1920px;
    height: 1080px;
    display: block;
    background: url("../img/overlay.svg") no-repeat;
}

.container-partypoker {
    width: 1920px;
    height: 1080px;
    display: block;
    background: url("../img/overlay-partypoker.svg") no-repeat;
}

/* SOCIAL MEDIA */

.social-media{
    position: absolute;
    top: 14px;
    left: 156px;
    color: var(--light-font-color);
}

/* SPOTIFY */

.spotify {
    position: absolute;
    top: 12px;
    left: 1567px;
    height: 42px;
    width: 222px;
    white-space: nowrap;
    max-width: 100%; /* 1 */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important; /* 2 */
    padding-right:0px;
}

.artist{
    position: absolute;
    top: -27px;
    left:0px;
    font-size: 20px;
    font-weight: 300;
    color: var(--light-font-color);
}

.songname{
    position: absolute;
    top:-5px;
    left:0px;
    color: var(--light-font-color);
    font-weight: 500;
    font-size: var(--header-font-size);
    line-height: 23px;
    white-space: nowrap;
    max-width: 100%; /* 1 */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important; /* 2 */
}

/* ChronoUP */

.live-for {
    position: absolute;
    top: 14px;
    left: 1846px;
    text-align: left;
    width: 61px;
    color:var(--light-font-color);


}

/*-----------------------BOTTOM DIV FONT AND COLOR SETTINGS-----------------------*/

.bottom-div-left {
    z-index:0;
    background-color:var(--main-div-color);
    position: absolute;
    left:588px;
    top:1014px;
    width: 888px;
    height: 54px;


}

.bottom-div-right {
    background-color:var(--main-div-color);
    position: absolute;
    left:1488px;
    top:1014px;
    width: 420px;
    height: 54px;
}

.bottom-div-partypoker-left {
    z-index:0;
    background-color:var(--main-div-color);
    position: absolute;
    left:634px;
    top:984px;
    width: 842px;
    height: 84px;

}

/*-----------------------LEFT BOTTOM SPAN FONT AND COLOR SETTINGS-----------------------*/


.donation {
    position:absolute;
    top:0px;
    left:-1px;
    font-size:var(--header-font-size);
    font-weight:300;


}

.donation-value {
    position: absolute;
    bottom: -14px;
    left: -1px;
    font-size: var(--bottom-text-font-size);
    font-weight:500;

}

.top-donation {
    position:absolute;
    top:0px;
    left:268px;
    font-size:var(--header-font-size);
    font-weight:300;

}

.top-donation-value {
    position: absolute;
    bottom: -14px;
    left: 268px;
    font-size: var(--bottom-text-font-size);
    font-weight:500;
}


.latest-subscriber {
    position:absolute;
    top:0px;
    left:585px;
    font-size:var(--header-font-size);
    font-weight:300;

}

.latest-subscriber-value {
    position: absolute;
    bottom: -14px;
    left: 585px;
    font-size: var(--bottom-text-font-size);
    font-weight:500;
}

/*-----------------------RIGHT BOTTOM SPAN FONT AND COLOR SETTINGS-----------------------*/
.todays-buyins {
    position:absolute;
    top:0px;
    right:253px;
    font-size:var(--header-font-size);
    font-weight:300;
    text-align:right;

}

.todays-buyins-value {
    position: absolute;
    bottom: -14px;
    right:253px;
    font-size: var(--bottom-text-font-size);
    font-weight:500;
    text-align:right;
}

.todays-cashes {
    position:absolute;
    top:0px;
    right:106px;
    font-size:var(--header-font-size);
    font-weight:300;
    text-align:right;

}

.todays-cashes-value {
    position: absolute;
    bottom: -14px;
    right:106px;
    font-size: var(--bottom-text-font-size);
    font-weight:500;
    text-align:right;
}

.bankroll {
    position:absolute;
    top:0px;
    right:-1px;
    font-size:var(--header-font-size);
    font-weight:300;
    text-align:right;

}

.bankroll-value {
    position: absolute;
    bottom: -14px;
    right: -1px;
    font-size: var(--bottom-text-font-size);
    font-weight:500;
    text-align:right;
}